*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #4FFFB0,#32de84,#4FFFB0)
}

.recipes{
    display: grid;
    place-items: center;
}

.title{
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.input-search{
    font-family: 'Patua One', cursive;
    width: 400px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 17px;
    margin-bottom: 50px;
}

.input-search::placeholder{
    color: rgb(255, 255, 255);
}

.input-search:focus{
    outline: none;
}

.overlay-recipe{
    padding: 50px 0;
    display: grid;
    place-items: center;
}

.cake-image{
    margin-top: 30px;
    width: 300px;
    height: 300px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
}

.title-recipe,
.time-recipe,
.bake-recipe,
.ingredients-recipe,
.about-recipe{
    text-align: center;
    padding: 5px 0;
    font-size: 25px;
    font-family: 'Patua One', cursive;
    color: rgb(255, 255, 255);
}

.title-recipe{
    font-family: 'Abril Fatface', cursive;
    font-size: 35px;
}

.about-recipe{
    padding: 0 10px;
    text-align: left;
    font-size: 20px;
    max-width: 800px;
}


@media (max-width: 450px) {
    .input-search{
        width: 300px;
    }
}